 @import url("fonts.css");

*{
    font-family: "DMSans";
}


.container-sm{
    box-sizing: border-box;
    font-family: "DMSans";
    min-height: 100vh;
}

.hero > img {
    box-sizing: content-box;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: transparent;
    justify-content:space-around;
    display: flex;
    align-items: center;
    z-index: 1;
}
.logo{
    display: flex;
    align-items: center;
}
.logoname{
    font-size: 32px;
    text-decoration: none;
    align-items: center;
    font-weight: 700;
    color: beige;
    text-shadow: 2px 2px 2px black;
}
.logoimg{
    padding-right: 20px;
}
.logoname:hover{
    color:yellowgreen;
}
.navbar a {
    position: relative;
    font-size: 18px;
    color:beige;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
    text-shadow: 2px 2px 2px black;
}
.navbar a::before{
    content:"";
    position: absolute;
    top:100%;
    left:0;
    width: 0;
    height: 2px;
    background:beige;
    transition: .2s ease;
}
.navbar a:hover::before{
    width:100%;
}
footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: hsla(0, 0%, 7%, 0.5);
    height: auto;
    width: 100vw;
    font-family: "DMSans";
    padding-top: 40px;
    color: beige;
    text-shadow: 2px 2px 2px black;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
    text-shadow: 2px 2px 2px black;
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
    text-shadow: 2px 2px 2px black;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
    padding: 0;
}
.socials li:not(:last-child){
    margin: 10px;
}
.socials a{
    text-decoration: none;
    color: beige;
}
.socials a i{
    font-size: 1.1rem;
    transition: color .4s ease;

}
.socials a:hover i{
    color: aqua;
}

.footer-bottom{
    background: hsla(0, 0%, 0%, 0.5);
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}
.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
} 